<br>
<div class="sitiosinteres">
  <h3>Otros temas de tu interés</h3>
  <div class="row">
  <div class="col-md-6 col-lg-6 col-sm-6" *ngFor="let dato of data;">
    <div class="card govco-card">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <br>
          <p align="center">
            <img align="right" style="width:80px; height:80px;" class="card-img govco-card-image govco-card-image-left" src="{{dato.imagen}}" alt="..." />
          </p>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8">
          <div class="card-header govco-card-header">
            <div class="row">
              <p class="sitio-des">{{dato.nombre}}</p>
              <span class="small-text-govco sub-text"> {{dato.descripcion}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--
    <div class="col-md-6 col-lg-6 col-sm-6">
      <div class="card govco-card">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <br>
            <p align="center">
              <img align="right" style="width:80px; height:80px;"  class="card-img govco-card-image govco-card-image-left" src="assets/images/colombia.png" alt="..." />
            </p>
          </div>
          <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="card-header govco-card-header">
              <p class="sitio-des">¿Sabes qué son los datos abiertos y cómo usarlos?</p>
              <span class="small-text-govco sub-text"> La información que producen las entidades públicas a tu alcance</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-6 col-sm-6">
      <div class="card govco-card">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <br>
            <p align="center">
              <img align="right" style="width:80px; height:80px;"  class="card-img govco-card-image govco-card-image-left" src="assets/images/record.png" alt="..." />
            </p>
          </div>
          <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="card-header govco-card-header">
              <p class="sitio-des">¿Sabes qué son los datos abiertos y cómo usarlos?</p>
              <span class="small-text-govco sub-text"> La información que producen las entidades públicas a tu alcance</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-6 col-sm-6">
      <div class="card govco-card">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <br>
            <p align="center">
              <img align="right"style="width:80px; height:80px;"  class="card-img govco-card-image govco-card-image-left" src="assets/images/datos.png" alt="..." />
            </p>
          </div>
          <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="card-header govco-card-header">
              <p class="sitio-des">¿Sabes qué son los datos abiertos y cómo usarlos?</p>
              <span class="small-text-govco sub-text"> La información que producen las entidades públicas a tu alcance</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  -->
  </div>

  </div>

