
<div class="container mt-5 pt-5">
  <div class="card govco-card principal">
    <div class="card-body">
      <app-tramites></app-tramites>
      <app-sitiosinteres></app-sitiosinteres>
    </div>
  </div>
</div>
