<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
    <div class="card govco-card card-tramite">
      <div class="card-header govco-card-header">
        <div class="text-left"><span class="small-text-govco text-left txt-tramites">Los trámites más usados</span></div>
        <div class="text-right"><span class="govco-icon govco-icon-plus  plus-icon text-right"></span></div>
      </div>
      <div class="card-body">
        <p class="description-govco tramite-des">Certificado de antecedentes de responsabilidad fiscal</p>
        <span class="small-text-govco sub-text">Contraloría general de la república</span>
        <div class="card-footer gov-card-footer linea text-left">
          <div class="row text-left">
            <span class="small-text-govco text-left disponible_linea"><span class="govco-icon govco-icon-check-cn text-left"></span>Disponible en línea</span>
          </div>
          <br>
          <div class="row text-center col-md-offset-3 col-sd-offset-3 col-lg-offset-3">
            <div class="form-check-inline text-center">
                <input type="radio" class="form-check-input text-center" name="optradio">
            </div>
            <div class="form-check-inline">
                <input type="radio" class="form-check-input text-center" name="optradio">
            </div>
          <div class="form-check-inline ">
                <input type="radio" class="form-check-input text-center" name="optradio" >
            </div>
            <div class="form-check-inline ">
                <input type="radio" class="form-check-input text-center" name="optradio">
            </div>
            <div class="form-check-inline ">
                <input type="radio" class="form-check-input text-center" name="optradio">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-8 col-lg-8">
    <div class="row">
      <ul class="list-group">
        <li class="list-tramites" *ngFor="let tramite of tramites;">
          <span class="small-text-govco element-list">{{tramite.nombre}}</span>
          <span class="small-text-govco">{{tramite.entidad}}</span>
          <div class="row tramites-row">
            <div class="col-sm-4 col-md-4 col-lg-4">
              <span class="small-text-govco  disponible_linea sub-text"><span class="govco-icon govco-icon-check-cn "></span>Disponible en línea</span>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <div class="row"><span class="small-text-govco sub-text"><span class="govco-icon govco-icon-tramite-sin-costo size-1x"></span>Trámite con costo</span>
              </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <span class="small-text-govco sub-text-ver-todo">Ver todo el trámite</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
