p{
  color:#3772FF;
  size:1px;
}

.plus-icon{
  color:#3772FF
}
.txt-tramites{
  color:#3772FF;
  size: 1em;
}
.govco-icon-check-cn{
  color:#069169;
  font-size:1em;
}
.linea{
  background-color:white;
  border:none;
}
.linea .disponible_linea{
  color:#069169;
}

.tramite-des{
  color: #4388c2;
}

.element-list{
  color: #004884;
  text-align: justify;
  text-justify: inter-word;
  font-weight: bold;
}
.list-tramites{
  list-style: none;
  border-bottom: 1px solid rgb(123, 128, 168);
}
.list-tramites .tramites-row{
  margin-top: 3px;
}
.list-tramites .disponible_linea{
  color:#069169;
}
.sub-text{
  color: #0063b1;
}
.sub-text-ver-todo{
  color: #0063b1;
  text-decoration: underline;
  font-size: 0.875 rem;
}
.card-tramite{
  border: 1px solid #6bb8ee;
}
