<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>And</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous" />
  <!-- css CDN -->
  <link href="https://cdn.www.gov.co/v2/assets/cdn.min.css" rel="stylesheet">
  <link rel="stylesheet" href="app/app.component.css">

</head>
<body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-govco navbar-expanded">
    <div class="navbar-container container">
      <div class="navbar-logo float-left">
        <a class="navbar-brand" href="utils.getServerWebUrl()+'/'">
          <img src="https://cdn.www.gov.co/assets/images/logo.png" height="30" alt="Logo Gov.co" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsible" aria-controls="navbarCollapsible" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-first-menu float-right">
        <div class="nav-primary mx-auto">
          <ul class="navbar-nav ml-auto nav-items nav-items-desktop">
          </ul>
        </div>
        <div class="nav-item-primary ml-auto mr-2">
          <div class="form-inline form-search-bar my-2 my-lg-0 search-desktop-container">
            <input class="form-control mr-sm-2 search-navbar search-desktop-searchTerm searchTerm"
                   type="search"
                   placeholder="Buscar "
                   aria-label="Search"
                   name="searchTerm"
                   id="search-desktop"
            />
            <span class="govco-icon govco-icon-search-cn icon-search notranslate" (click)="btnSearchGovCo()"></span>
          </div>
          <span class="govco-icon govco-icon-language-en-n lang-govco ml-3" (click)="changeLang()"></span>
        </div>
      </div>
    </div>
    <div class='nav-secondary show-transition' id="nav-secondary">
      <div class="container">
        <div class="collapse navbar-collapse navbar-first-menu">
          <ul class="navbar-nav w-100 d-flex nav-items nav-items-desktop">
            <li class="nav-item ">
              <a href="/ficha-tramites-y-servicios/" class="nav-link">Trámites y servicios</a>
            </li>
            <li class="nav-item ">
              <a href="/tu-opinion-cuenta/" class="nav-link">Tu Opinión Cuenta</a>
            </li>
            <li class="nav-item ">
              <a href="/entidades/" class="nav-link">Entidades</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="navbar-nav navbar-notifications" id="notificationHeader"></div>
  </nav>
  <app-root></app-root>
  <footer>
    <div class="footer page__footer footer-white footer-blue">
      <div class="container">
        <div class="footer-container" id="footer-container">
          <div class="footer-title d-flex  bd-highlight">
            <h2 class="title-footer">Contáctanos</h2>
          </div>
          <div
            class="nav-footer icon-white  nav-pills nav-pills-icons icon-white d-flex justify-content-center bd-highlight">
            <div class="item-footer">
              <a class="nav-link icon-white" onClick="utils.viewportLink('/#')">
                <span class="govco-icon govco-icon-callin-cn"></span>
                <p class="title-contact-link">Llamada WEB </p>
                <p class="content-link">
                  Solicitar llamada
                </p>
              </a>
            </div>
            <div class="item-footer">
              <a class="nav-link icon-white" target="_blank" href="mailto:soporteccc@mintic.gov.co">
                <span class="govco-icon govco-icon-email-cn"></span>
                <p class="title-contact-link"> Correo electrónico </p>
                <p class="content-link">
                  soporteccc@mintic.gov.co
                </p>
              </a>
            </div>
            <div class="item-footer">
              <div class="nav-link icon-white" >
                <span class="govco-icon govco-icon-call-center-cn"></span>
                <p class="title-contact-link"> Contacto telefónico </p>
                <p class="content-link">
                  <br class="d-sm-block d-md-none notranslate"/>
                  <a class="notranslate" href="tel:01 8000 910742">Nacional: 01 8000 910742</a>
                  <br class="d-sm-block d-md-none d-md-block notranslate"/>
                  <a class="notranslate" href="tel:031 390 7951">Bogotá: 57 390 7951</a>
                </p>
              </div>
            </div>
            <div class="item-footer">
              <a class="nav-link icon-white" href="utils.getServerWebUrl('/#')" >
                <span class="govco-icon govco-icon-wifi-cn"></span>
                <p class="title-contact-link"> Redes sociales </p>
                <p class="content-link">
                  de las entidades
                </p>
              </a>
            </div>
            <div class="item-footer">
              <a class="nav-link icon-white" onClick="utils.viewportLink('/#')">
                <span class="govco-icon govco-icon-callback-cn"></span>
                <p class="title-contact-link"> Regresamos tu llamada </p>
                <p class="content-link">
                  al número que nos indiques
                </p>
              </a>
            </div>
          </div>
          <div class="submenu-footer d-flex justify-content-center bd-highlight">
            <ul class="pl-sm-0">
              <li>
                <a href="utils.getServerWebUrl('/#')">
                  Sobre nosotros
                </a>
              </li>
              <li>
                <a href="utils.getServerWebUrl('/#')">
                  Términos de uso
                </a>
              </li>
              <li>
                <a href="utils.getServerWebUrl('/#')">
                  Mapa del sitio
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- js jquery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          crossorigin="anonymous">
  </script>
  <script src="https://cdn.www.gov.co/v2/assets/js/utils.js"></script>
</body>
</html>
